:root {
  --dark-background-color: black;
  --dark-font-color: white;

  --light-background-color: white;
  --light-font-color: black;
}

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.dark {
  background-color: var(--dark-background-color);
  color: var(--dark-font-color);
}

.light {
  background-color: var(--light-background-color);
  color: var(--light-font-color);
}

.box {

  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.metronome {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

button {
  margin-top: 10px;
  border: none;
  cursor: pointer;
}
.theme-toggle-button {
  position: absolute;
  top: 10px;
  left: 10px;
}
